* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    background-color: #000000;
    padding: 50px;
 
}

.menu-header {
    
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    }

.menu-header>li>a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    }

.menu-header>li>a:hover {
    /*troca a cor da letra ao passar mouse por acima*/
    color: blue;
    /* font-size: 20px; aumenta tamanho ao passar mouse */
    transition: 0.8s;
    /*a mudança de tamanho es mais sutil, pode funcionar com imagens*/
}

.menu-header>li {
    margin-left: 20px;
    /*deixa espaçamento entre item da lista de direita para esquerda*/
}

#sessao {
    padding: 12rem;
    background: linear-gradient(500deg, #090009, rgb(64, 110, 181)100%);
}

#sessao>h1 {
    font-size: 60px;
    color: #434b4b;
}

#sessao>p {
    font-size: 40px;
}

#sessao>button {
    padding: 20px;
    border-radius: 45px;
    width: 15rem;
    color: rgb(19, 77, 153);
    border-color: rgb(19, 77, 153);
    margin: 30px;
    border-width: 4px;
    /*Margem em volta do button*/
    font-size: 15px;
    /*Tamanho da letra dentro do button*/
}

#sessao>button:hover {
    /*Efeito ao pasar o cursor*/
    background-color: rgba(85, 85, 85, 0.986);
    /*Atributos a cor que ficara*/
    color: white;
    /*Cor da letra que irá se tornar ao passar o cursor*/
    border-color: white;
    /*Cor da borda ao passar o cursor*/
    transition: 0.8s;
    /*tempo que demora a transição*/
}

#app {
    padding: 15vh;
    background-color: rgb(19, 77, 153);
    display: flex;
    /*situa lado a lado os elementos da div*/
    justify-content: space-between;
    /*deixa espaço entre elementos*/
    flex-wrap: wrap;
    /*para adaptar site a todo tipo de telas (responsiva)*/
}

#app>div>button {
    padding: 20px;
    /* preenchimento do button*/
    border-radius: 45px;
    /*Arredondamento das bordas*/
    width: 20vw;
    /*Ajustamos a largura do button*/
    color: rgb(19, 77, 153);
    /*Cor da letra*/
    border-color: rgb(19, 77, 153);
    /*Cor da borda do button*/
    margin: 30px;
    /*Alteração das margens em volta do button*/
    border-width: 4px;
    /*Margem em volta do button*/
    font-size: 15px;
    /*Tamanho da letra quie esta dentro do button*/

}

#app>div>p {
    font-size: 35px;
}

#app>div>button:hover {
    /*Efeito ao pasar o cursor*/
    background-color: rgba(85, 85, 85, 0.986);
    /*Atributos a cor que ficara*/
    color: white;
    /*Cor da letra que irá se tornar ao passar o cursor*/
    border-color: white;
    /*Cor da borda ao passar o cursor*/
    transition: 0.6s;
    /*tempo que demora a transição*/
}

#app>div>img {
    /*chamamos nossa img para estilizar*/
    width: 30vw;
    /*Largura da imagen usando viewport*/
    height: 60vh;
    /*altura da imagen usando viewport*/
    margin-top: -100px;
    /*Espaçamento de margin superior*/
}

#container {
    padding: 20vh;
    /* background-color: rgb(190, 186, 186); */
    /*Cor do fundo da section*/
    flex-wrap: wrap;
    /*Adaptando a sessaõ para quebrar em telas menores*/
     background-image: url(imagens/toquemaos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container>h2 {
    /*chamamos nosso h2 para alteração*/
    font-size: 60px;
    /*Atribuimos um tamanho a letra*/
    margin-top: -2rem;
    /*Espaçamento superior usando (-)*/
    color: #f8f699;
    text-align: center;
    /*alinhamento do texto ao centro*/
}

#container>p {
    /*Aqui chamamos nossa tap p*/
    font-size: 25px;
    /*tamanho da letra*/
    margin-top: 30px;
    /*espaçamaneto superior*/
    color: #f8f699;
    /*cor da letra*/
    text-align: justify;
    /*tornando o texto justificavel*/
}

#container>.text1 {
    /*Chamamos a class text1 que esta dentro da id container para estilização*/
    text-align: center;
}

#container>button {
    padding: 20px;
    /* preenchimento de nosos botton*/
    border-radius: 45px;
    /*Arredondamento das bordas*/
    width: 20vw;
    /*Ajustamos a largura do button*/
    color: rgb(19, 77, 153);
    /*Cor da letra*/
    border-color: rgb(19, 77, 153);
    /*Cor da borda do button*/
    margin: 50px;
    /*Alteração das margens em volta do button*/
    border-width: 4px;
    /*Margem em volta do bitton*/
    font-size: 15px;
}

#container>button:hover {
    /*Efeito ao pasar o cursor*/
    background-color: rgba(85, 85, 85, 0.986);
    /*Atributos a cor que ficara*/
    color: white;
    /*Cor da letra que irá se tornar ao passar o cursor*/
    border-color: white;
    /*Cor da borda ao passar o cursor*/
    transition: 0.6s;
}


#SECTION4 {
    background-image:url(imagens/fundosection4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

#SECTION4 {
    display: flex;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

#SECTION4 div img {
    width: 80%; 
    height: 60%;
    margin-left: 6vw;
    display: flex;
    align-items: left;
}

.textz {
    padding: 30vh;
    text-align: center;
    font-size: large;
    font-size: 170%;
    color: #f8f699;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 4em;
    text-align: center;

}

.item-footer {
     color: white;
